* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* <!-- head navbar --> */

.navbar {
  height: 16vb;
  width: 100%;
  background-color: #22211f;
}

.heading-logo {
  font-size: 50px;
  font-weight: 600;
  color: #ffef9f;
  padding: 3vb 10vb;
}

.heading-logo span {
  font-size: 35px;
  font-weight: 500;
  color: coral;
}

.nav-tabs {
  padding: 2vb 6vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-item .nav-link {
  color: #ff5d8f;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
}
.nav-item .nav-link:hover {
  color: whitesmoke;
}


/* body */

.area-name{
  padding: 5vh 5vb 0vh 5vb;
  width: 900px;
  color: #31393c;
  font-family: Trebuchet MS, sans-serif;

}

/* these are 2 main sections of the types of places */

.pop-places{
    padding: 2vh 0; 
    width: 100%;
    height: 75vh;
} 
.uncharted-places{
  padding: 2vh 0; 
  width: 100%;
  height: 28vh;
}

.cultural-places{
  height: 63vh; 
  padding: 0;
}
.cultural-places > h2{
  margin-top: 1vh;
    font-size: 4vh;
    padding: 0 3vb;
  color: #494949;
  
}

.cultural-spots{
  background-color: gold;
  height: 45vh; 
  margin-top: 11vh; 
}
.amusement-spots{
  background-color: rgb(64, 59, 77);
  height: 45vh; 
  margin-top: 11vh; 
}

.choice1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: -53vh 19vb 0vh 19vb;
}

.card{
  width: 32vb;
  height: 40%;
}
.card-title{
 text-transform: uppercase; 
 font-size: 22px;
 font-weight: 600px;
}

.card-img-top{
  padding: 1%;
  width: 100%;
  height: 20vh;
}

.swiper {
  width: 100%;;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 17.5px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.uncharted-places{
  padding: 2vh 0; 
  width: 100%;
  height: 70vh;
}

/* .ri-arrow-right-s-fill,.ri-arrow-left-s-fill{
size: 20px;
} */

/* <!-- footer section --> */

footer {
    width: 100%;
    height: 38vh;
    background-color: rgb(31, 29, 29);
    padding: 10px;
  }
  
  .footer-container {
    margin-top: 15px;
    padding: 30px 4px 9px 4px;
  }
  
  .footer-logo{
    color: wheat;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 40px;
    font-weight: 700; 
  }
  
  .footer-logo span{
  font-size: 35px;
    font-weight: 600;
    color: coral;
  }
  
  .footer-para {
    font-size: 14px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.534);
    margin: 25px 0px;
  }
  
  .heading-sm-footer {
    color: rgba(255, 255, 255, 0.863);
    font-size: 22px;
    letter-spacing: 4px;
    font-weight: 700;
    margin: 18px 0px;
  }
  
  .social-links-footer {
    margin: 16px 0px;
  }
  .social-icon-footer {
    font-size: 21px;
    padding: 9px;
    border: 1px solid rgb(13, 196, 13);
    color: rgb(13, 196, 13);
    cursor: pointer;
    transition: 0.2s ease-in;
  }
  
  .social-icon-footer:hover {
    background-color: rgb(13, 196, 13);
    color: white;
  }
  
  .pages-footer {
    padding: 6px 18px;
  }
  
  .heading-pages {
    color: rgba(255, 255, 255, 0.863);
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 18px;
  }
  
  .nav-item-footer{
    display: flex;
    align-items: center;
  }
  
  .footer-links {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.534);
    
  }
  
  .footer-links:hover {
    color: white;
  }
  
  .contact-footer {
    display: flex;
    flex-direction: column;
  }
  
  .text-contact {
    margin: 14px 0px;
    color: white;
    font-size: 19px;
    color: rgba(255, 255, 255, 0.534);
  }
  
  .footer-icons {
    font-size: 19px;
    color: rgba(255, 255, 255, 0.863);
    padding: 0px 9px;
  }
  
/* .ri-arrow-right-s-fill, .ri-arrow-left-s-fill{
  padding: 30px;
  margin: 30px;
  size: 500px;
} */